/* home.css */
body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url(Home\ BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Header Section */
header{
  width: 100%;
  height: 112px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
}
/* Clickable Logo*/
.logo{
  width: 200px;
  height: auto;
  margin-left: 50px;
}
/* Header Section */
nav{
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Header Navigation Links */
li{
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.nav-item{
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.749);
  position: relative;
}
/* Header Hover Effects */
header:hover{
  background-color: rgb(255, 255, 255);
}

header:hover .nav-item{
  color: #000000;
  text-shadow: none
}

header:hover .nav-item:hover{
  color: #0067A6;
  text-shadow: none;

}

.nav-item::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0067A6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

header:hover .nav-item:hover::after{
  transform: scaleX(1);
}


.nav-links{
  gap: 100px ;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* Hero Section */
.hero-section{
  position: relative;
  width: 100%;         
  height: 100vh; 
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top,
   rgba(0,31,51,1)    0%,
    rgba(0,31,51,0.9)  8%,
    rgba(0,31,51,0.6) 25%,
    rgba(0,31,51,0.25) 45%,
    rgba(0,31,51,0)   70%);
}

.hero-heading{
  font-size: 64px;
  font-weight: bold;
  color: #F51528;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-subheading{
  font-size: 32px;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 20px;
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
  z-index: 2;
}
/* Hero Video Background */
.hero-video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 16, 23, 0.482);
  z-index: 1;
}
/* CTA Button */
.cta-button{
  text-decoration: none;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #F51528;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out;
  z-index: 2;
}
/* CTA Button Effects */
.cta-button:hover{
  background-color: #9f070f;
  color: #adadad;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}

.cta-button:active{
  background-color: #690308;
  color: #adadad;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  transition: 0s;
}
/* One Card Section */
.card-container{
  margin-left: 0px;
  width: 100vw;
  height: 569px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.card-text-section{
  margin-left:100px;
  margin-bottom: 10px;
  width: 678px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.card-heading{
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-bottom: 40px;
}

.card-line{
  width: 200px;
  height: 4px;
  background-color: #005F9A;
  margin-bottom: 20px;
  transition: width 0.3s ease-in-out;
}

.card-paragraph{
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  text-align: left;
  margin-top: 20px;
}

.card-pic{
  width: 447px;
  height: 569px;
  object-fit: cover;
  position: relative;
}

.card-pic-container{
  margin-right: 100px;
  width: 447px;
  height: 569px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.card-pic{
  width: 447px;
  height: 569px;
  object-fit: cover;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
/* One Card Section Hover Effects */
.card-pic-container:hover .card-pic{
  transform: scale(1.1);
}

.card-container:hover .card-line{
  width: 300px;
}

.pic-overlay{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 136px;
  background-color: rgba(0, 0, 0, 0.879);
}

.arrow{
  display: flex;
  width: 35.25px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.pic-link{
  display: flex;
  width: 35.25px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.pic-text{
  width: 500px;
  font-size: 24px;
  font-weight: 200;
  color: #FFFFFF;
  margin: 20px;
}
/* Three Pictures Section */
.three-part-container{
  width: 100vw;
  margin-top: 121px;
}

.part-container{
  padding-right: 50px;
  margin-bottom: 100px;
  width: 100%;
  height: 609px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.part-text-section{
  margin-left: 100px;
  margin-right: 100px;
  width: 445px;
  height: 312px;
}

.part-heading{
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-bottom: 40px;
}

.part-paragraph{
  margin: 0px;
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
  margin-bottom: 40px;
}

.part-line{
  width: 186px;
  height: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: width 0.3s ease-in-out;
}

.part-pic-container{
  margin-right: 100px;
  width: 913px;
  height: 609px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.part-pic{
  margin-left: 100px;
  margin-right: 50px;
  width:100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
/* Three Pictures Section Hover Effects */
.part-pic-container:hover .part-pic{
  transform: scale(1.05);
}

.part-text-section:hover .part-line{
  width: 250px;
}
/* Footer Section */
footer{
  width: 100vw;
  height: 190px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 24px;
}

.footer-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-section{
  margin-left: 100px;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.footer-right-section{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.footer-left-text{
  margin-right: 50px;
}
/* Social Media Icons */
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}