/* stores.css */
body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url(StoresBG.png);
  background-size: cover;
  background-position: 100% 48%;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Header Section */
header{
  width: 100%;
  height: 112px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
}
/* Clickable Logo*/
.logo{
  width: 200px;
  height: auto;
  margin-left: 50px;
}
/* Header Section */
nav{
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Header Navigation Links */
li{
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.nav-item{
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.749);
  position: relative;
}
/* Header Hover Effects */
header:hover{
  background-color: rgb(255, 255, 255);
}

header:hover .nav-item{
  color: #000000;
  text-shadow: none
}

header:hover .nav-item:hover{
  color: #F51528;
  text-shadow: none;

}

.nav-item::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #F51528;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

header:hover .nav-item:hover::after{
  transform: scaleX(1);
}


.nav-links{
  gap: 100px ;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Bread Crumb Section*/
.breadcrumb{
  display: flex;
  gap: 10px;
  color: white;
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  top: 100px;
  left: 56px;
  cursor: pointer;
  z-index: 3;
}

.breadcrumb a{
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero-section{
  background-image: url(storehero.png);
  background-size: cover;
  background-position: 100% 40%;
  position: relative;
  width: 100%;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 20px;
}

.hero-heading{
  color: #33B1FF;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subheading{
  color: #ffffff;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content{
  max-width: 747px;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 20px;
  z-index: 2;
}
/* Gradient Overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
   rgba(0, 0, 0, 0.7)    0%,
    rgba(0, 0, 0, 0.6)  20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0)   70%);
  z-index: 1;
}
/* Two Cards Section */

.two-cards-section{
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin:auto;
  margin-top: 100px;
}

.first-pic-container{
  width: 623px;
  height: 555px;
  position: relative;
  overflow: hidden;
}

.first-part-pic{
  max-width: 783px;
  height: 624px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.first-part-pic:hover{
  transform: scale(1.05);
}

.first-pic-overlay{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 173px;
  background-color: white;
  z-index: 2;
}

.first-pic-text{
  margin-left: 20px;
  width: 460px;
  margin-top: 20px;
  margin-right: 20px;
  color: #000000;
  font-size: 32px;
  font-weight: normal;
  z-index: 3;
}

.arrow{
  margin-top: 35px;
  margin-right: 40px;
}

/* CarouselSection */
.carousel-right-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 645px;
  height: 100%;
}

.carousel {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 532px;
}

.carousel-image-wrapper {
  width: 700px;
  height: 532px;
  overflow: hidden;
}

.carousel-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.carousel-heading{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.carousel-line{
  width: 186px;
  height: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: width 0.3s ease-in-out;
}
.carousel:hover .carousel-line{
  width: 250px;
}

.carousel-paragraph{
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
}
/* arrows */
.carousel-buttons {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  
}

.arrow-button{
  display: flex;
  background: white;
  border: solid;
  font-weight: bold;
  font-size: 50px ;
  color: #0067A6;
  text-align: center;
  justify-content: center;
  border-color: #0067A6;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.arrow-button:hover{
  background-color: #7a7a7a;
  color: #004f81;
  border-color: #004f81;
}

.arrow-button:active{
  background-color: #5b5b5b;
  color: #001c2d;
  border-color: #004f81;
}
/* Second Section One */
.second-section-one{
  margin: auto;
  margin-top: 100px;
  width: 90%;
  height: 498px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.second-section-pic-one{
  width: 40%;
  object-fit: cover;
}

.second-section-pic-two{
  width: 60%;
  object-fit: cover;
}

/* Second Section Two */

.second-section-two{
  margin: auto;
  margin-top: 100px;
  width: 100%;
  height: 211px;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.second-section-heading{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.second-section-line{
  width: 186px;
  height: 5px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
}

.second-section-two:hover .second-section-line{
  width: 250px;
}

.second-section-paragraph{
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  width: 80%;
  margin: auto;
}
/* Second Section Three */
.second-section-three{
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 336px;
  z-index: 1;
}

.second-section-pic-three{
  width: 100%;
  height: 336px;
  display: block;
  justify-content: center;
  object-fit: cover;
}

.sony-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 41, 69, 0.57);
  z-index: 2;
}

/* Footer Section */
footer{
  margin-top: 100px;
  width: 100%;
  height: 190px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 24px;
}

.footer-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-section{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.footer-right-section{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.footer-left-text{
  margin-right: 50px;
}
/* Social Media Icons */
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}
