/* districts.css */
body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url(Initiatives\ BG.png);
  background-size: cover;
  background-position: 100% 5%;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 3000px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Header Section */
header{
  width: 100%;
  height: 112px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
}
/* Clickable Logo*/
.logo{
  width: 200px;
  height: auto;
  margin-left: 50px;
}
/* Header Section */
nav{
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Header Navigation Links */
li{
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.nav-item{
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.749);
  position: relative;
}
/* Header Hover Effects */
header:hover{
  background-color: rgb(255, 255, 255);
}

header:hover .nav-item{
  color: #000000;
  text-shadow: none
}

header:hover .nav-item:hover{
  color: #F51528;
  text-shadow: none;

}

.nav-item::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #F51528;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

header:hover .nav-item:hover::after{
  transform: scaleX(1);
}


.nav-links{
  gap: 100px ;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Bread Crumb Section*/
.breadcrumb{
  display: flex;
  gap: 10px;
  color: white;
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  top: 100px;
  left: 56px;
  cursor: pointer;
  z-index: 3;
}

.breadcrumb a{
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero-section{
  background-image: url(pdd-dt-homepage-02.jpg);
  background-size: cover;
  background-position: 100% 40%;
  position: relative;
  width: 100%;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 20px;
}

.hero-heading{
  color: #33B1FF;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subheading{
  color: #ffffff;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content{
  max-width: 747px;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 20px;
  z-index: 2;
}
/* Gradient Overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
   rgba(0, 0, 0, 0.7)    0%,
    rgba(0, 0, 0, 0.6)  20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0)   70%);
  z-index: 1;
}
/* First District Section */
.first-district-section{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-district-pic-container{
  width: 557px;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.first-district-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-district-text-container{
  background-color: white;
  width: 469px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 33px 44px 33px 44px;
}

.first-district-heading{
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.first-district-line{
  width: 186px;
  height: 4px;
  background-color: #0067A6;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
}
/* Hover Effects */
.first-district-text-container:hover .first-district-line{
  width: 250px;
}

.first-district-pic-container:hover .first-district-pic{
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.first-district-paragraph{
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}
/* First District Section Layout */
.middle-shape-container{
  width: 269px;
  height: 1121px;
}

.first-district-right{
  height: 1121px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.district-left-part{
  height: 1121px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Second District Intro Section */
.second-district-intro-section{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-district-intro-heading{
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.second-district-intro-line{
  margin: auto;
  width: 186px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
}

.second-district-intro-section:hover .second-district-intro-line{
  width: 250px;
}

/* Second District Cards Section */
.second-district-card-section{
  background-color: white;
  margin-top: 50px;
  width: 100%;
  height: 569px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
/* Second District Cards Text Section */
.second-district-text-section{
  width: 583px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.second-district-heading{
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
}

.second-district-line{
  width: 186px;
  height: 5px;
  background-color: #005F9A;
  transition: width 0.3s ease-out;
}

.second-district-text-section:hover .second-district-line{
  width: 256px;
}

.second-district-paragraph{
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: normal;
}
/* Second District Cards Picture Section */
.second-district-pic-container{
  position: relative;
  width: 674px;
  height: 569px;
  overflow: hidden;
}

.second-district-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  z-index: -1;
}

.second-district-pic-container:hover .second-district-pic{
  transform: scale(1.05);
}
/* Second District Cards Overlay Section */
.second-district-overlay{
  width: 100%;
  height: 136px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.overlay-text{
  font-size: 24px;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.overlay-arrow{
  padding-top: 15px;
  padding-right: 20px;
  height: 50px;
  width: 35px;
}

/* Footer Section */
footer{
  margin-top: 100px;
  width: 100%;
  height: 190px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 24px;
}

.footer-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-section{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.footer-right-section{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.footer-left-text{
  margin-right: 50px;
}
/* Social Media Icons */
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

