/* experiences.css */
body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url(Experiences\ BG.png);
  background-size: cover;
  background-position: 100% 48%;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Header Section */
header{
  width: 100%;
  height: 112px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
}
/* Clickable Logo*/
.logo{
  width: 200px;
  height: auto;
  margin-left: 50px;
}
/* Header Section */
nav{
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Header Navigation Links */
li{
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.nav-item{
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.749);
  position: relative;
}
/* Header Hover Effects */
header:hover{
  background-color: rgb(255, 255, 255);
}

header:hover .nav-item{
  color: #000000;
  text-shadow: none
}

header:hover .nav-item:hover{
  color: #0067A6;
  text-shadow: none;

}

.nav-item::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0067A6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

header:hover .nav-item:hover::after{
  transform: scaleX(1);
}


.nav-links{
  gap: 100px ;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Bread Crumb Section*/
.breadcrumb{
  display: flex;
  gap: 10px;
  color: white;
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  top: 100px;
  left: 50px;
  cursor: pointer;
  z-index: 3;
}

.breadcrumb a{
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero-section{
  background-image: url(dsc_1797.jpg);
  background-size: cover;
  background-position: 100% 10%;
  position: relative;
  width: 100%;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 50px;
}

.hero-heading{
  color: #33B1FF;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subheading{
  color: #ffffff;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content{
  max-width: 647px;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #FFFFFF; 
  padding: 0 0px;
  z-index: 2;
}
/* Gradient Overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
   rgba(0, 0, 0, 0.7)    0%,
    rgba(0, 0, 0, 0.6)  20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0)   70%);
  z-index: 1;
}
/* First Content Section */
.first-content-section{
  margin-top: 100px;
  width: 100%;
  height: 624px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
  text-align: left;
  color: #FFFFFF;
}

.first-text-section{
  width: 445px;
  text-align: left;
  padding-right: 0px;
}

.content-heading{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-wrap: nowrap;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.content-line{
  width: 186px;
  height: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
}

.first-text-section:hover .content-line{
  width: 250px;
}

.content-paragraph{
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.first-pic-container{
  width: 783px;
  height: 624px;
  position: relative;
  overflow: hidden;
}

.first-part-pic{
  max-width: 783px;
  height: 624px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.first-part-pic:hover{
  transform: scale(1.05);
}

.first-pic-overlay{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 137px;
  background-color: white;
  z-index: 2;
}

.first-pic-text{
  margin-left: 20px;
  width: 460px;
  margin-top: 20px;
  margin-right: 20px;
  color: #000000;
  font-size: 32px;
  font-weight: normal;
  z-index: 3;
}

.arrow{
  margin-top: 35px;
  margin-right: 40px;
}
/* Second Hero Section */
.second-hero-section{
  margin-top: 100px;
  background-image: url(image\ \(6\).png);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF; 
  padding: 0 20px;
  margin-top: 100px;
}

.second-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-line{
  width: 186px;
  height: 5px;
  background-color: #34B1FE;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
  z-index: 2;
}

.second-hero-section:hover .hero-line{
  width: 250px;
}
/* Second Content Section */
.second-content-paragraph{
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 1000px;
  z-index: 2;
}

.second-pic-container{
  width: 445px;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.second-part-pic{
  width: 445px;
  height: 285px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.second-part-pic:hover{
  transform: scale(1.05);
}
/* Three Cards Section */
.three-cards{
  margin-bottom: 100px;
  margin-left: 70px;
  justify-content: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-paragraph{
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.card-text-section{
  width: 445px;
}

.card-line{
  width: 186px;
  height: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: width 0.3s ease-out;
}

  .content-card:hover .card-line{
    width: 250px;
  }

/* Footer Section */
footer{
  width: 100vw;
  height: 190px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 24px;
}

.footer-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-section{
  margin-left: 100px;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.footer-right-section{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.footer-left-text{
  margin-right: 50px;
}
/* Social Media Icons */
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}  
